body{
    text-align: center;
}

canvas { 
    background: rgb(41, 41, 41);
    margin: 20px;
    width:  1024px;
    height: 526px;

}
#content{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex: wrap;
}

#left-content{
    border: 3px solid black;


}
#main-content{
    /* flex-basis: 100%; */
    border: 3px solid black;
    width:  1024px;
    height: 526px;
    padding: 20px;

}
#right-content{
    border: 3px solid black;

}